@import 'reset.css';

@font-face {
font-family: Union;
 src: url("union_regular.otf");


}



html {
    background: black;
}

p {
    font-size: 1.75vw;
    line-height: 1.3;
    padding-bottom: 25px;
    font-family: Union;
    color: white;
}

.ss {
    font-size: 1.75vw;
    line-height: 1.3;
    padding-bottom: 0px;
    font-family: Union;
    color: white;
}

h1{
    font-size: 1.1vw;
    line-height: 1.3;
    font-family: Union;
    color: white;
    margin-left: 5%;
/*    padding-bottom: 5%;*/
}

h2{
    font-size: 1.1vw;
    line-height: 1.3;
    font-family: Union;
    color: white;
    margin-left: 0%;
    margin-bottom: 15px;
}

.headers{
    margin-top: 10vh;
}
.spacer0{
margin: 50vh;}

.spacer{
    margin: 25vh;
}

.spacer2{
margin:3%;}


.wz{
    margin-left: 35%;
    margin-right: 35%;
    width: 30%;
}

.print{
    width: 47.5%;
    margin-left: 26.25%;
    margin-right: 26.25%;
}


.webs{
/*    margin-top: -150px;*/
    width: 47.5%;
    margin-left: 26.25%;
    margin-right: 26.25%;
}



.mscreens{
    width: 47.5%;
    margin-left: 26.25%;
    margin-right: 26.25%;
}

  .mtext{
        display: none;
    }

.dtext{
    display: block;
}


/*  SECTIONS  */
.section {
    clear: both;
    padding: 0px;
    margin: 0px;
    margin-left: 5%;
    margin-right: 5%;
/*    padding-bottom: 250px;*/
}

img{
    width: 100%;
}

.regular{
    width: 65vw;
    margin-left: 17.5vw;
    margin-right: 17.vw;
}


.video{
    width:  65%;
    margin-left: 17.5%;
    margin-right: 17.5%;
/*    margin-top: -150px;*/
/*    margin-bottom: 100px;*/
}
/*  COLUMN SETUP  */
.col {
    display: block;
    float: left;
    margin: 1% 0 1% 5%;
}

.col:first-child {
    margin-left: 0;
}

/*  GROUPING  */
.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    zoom: 1;
    /* For IE 6/7 */
}

/*  GRID OF SIX  */
.span_6_of_6 {
    width: 100%;
}

.span_5_of_6 {
    width: 82.5%;
}

.span_4_of_6 {
    width: 65%;
}

.span_3_of_6 {
    width: 47.5%;
}

.span_2_of_6 {
    width: 30%;
}




.span_2_of_6a {
    width: 30%;
}

.span_4_of_6a {
    width: 65%;
}



.span_1_of_6 {
    width: 12.5%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 5px) {
    .col {
        margin: 0% 0 1% 5%;
    }

    .span_1_of_6,
    .span_2_of_6,
    .span_3_of_6,
    .span_4_of_6,
    .span_5_of_6,
    .span_6_of_6 {
        width: 100%;
    }
}

@media only screen and (max-width: 1000px) {
    p {
/*    padding-left: -5%;*/
    font-size: 4vw;
    line-height: 1.3;
    padding-bottom: 15px;
    font-family: arial;
    color: white;
}



 .headers{
    margin-top: 25px;
}
.spacer0{
margin: 150px;}

.spacer{
    margin: 25px;
}

.spacer2{
margin:15px;}

    h2{
    font-size: 3vw;
    line-height: 1.3;
    font-family: arial;
    color: white;
    margin-left: 0%;
    margin-bottom: 10px;
}
    
    h1{
        font-size: 3vw;
    }
    
    .mtext{
        display: block;
    }
 
    .dtext{
    display: none;
}
    
    .wz{
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
}
    
    .video{
    width:  100%;
    margin-left: 0%;
    margin-right: 0%;
}
    
    .webs{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}
    
    .print{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}


    
    
}
