@import 'reset.css';

html {
    background: black;
}

p {
    font-size: 1.75vw;
    line-height: 1.3;
    padding-bottom: 25px;
    font-family: arial;
    color: white;
}

.ss {
    font-size: 1.75vw;
    line-height: 1.3;
    padding-bottom: 0px;
    font-family: arial;
    color: white;
}

h1{
    font-size: 1.3vw;
    line-height: 1.3;
    font-family: arial;
    color: white;
    margin-left: 5%;
/*    padding-bottom: 5%;*/
}

h2{
    font-size: 1.3vw;
    line-height: 1.3;
    font-family: arial;
    color: white;
    margin-left: 0%;
}



.spacer{
    margin: 250px;
}

.spacer2{
margin:100px;}


.wz{
    margin-left: 35%;
    margin-right: 35%;
    width: 30%;
}

.print{
    width: 47.5%;
    margin-left: 26.25%;
    margin-right: 26.25%;
}


.webs{
/*    margin-top: -150px;*/
    width: 47.5%;
    margin-left: 26.25%;
    margin-right: 26.25%;
}

.mscreens{
    width: 47.5%;
    margin-left: 26.25%;
    margin-right: 26.25%;
}

/*  SECTIONS  */
.section {
    clear: both;
    padding: 0px;
    margin: 0px;
    margin-left: 5%;
    margin-right: 5%;
/*    padding-bottom: 250px;*/
}

img{
    width: 100%;
}

.regular{
    width: 65vw;
    margin-left: 17.5vw;
    margin-right: 17.vw;
}


.video{
    width:  65%;
    margin-left: 17.5%;
    margin-right: 17.5%;
    margin-top: -150px;
    margin-bottom: 100px;
}
/*  COLUMN SETUP  */
.col {
    display: block;
    float: left;
    margin: 1% 0 1% 5%;
}

.col:first-child {
    margin-left: 0;
}

/*  GROUPING  */
.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    zoom: 1;
    /* For IE 6/7 */
}

/*  GRID OF SIX  */
.span_6_of_6 {
    width: 100%;
}

.span_5_of_6 {
    width: 82.5%;
}

.span_4_of_6 {
    width: 65%;
}

.span_3_of_6 {
    width: 47.5%;
}

.span_2_of_6 {
    width: 30%;
}

.span_1_of_6 {
    width: 12.5%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
    .col {
        margin: 1% 0 1% 0%;
    }

    .span_1_of_6,
    .span_2_of_6,
    .span_3_of_6,
    .span_4_of_6,
    .span_5_of_6,
    .span_6_of_6 {
        width: 100%;
    }
}
